.input-fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border: 1px solid var(--tg-theme-button-color);
  font-size: 0.8em;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
  outline: none;
}

.input::placeholder {
  color: var(--tg-theme-hint-color);
}
