.input-wrapper {
  width: 100%;
  position: relative;
}

.input {
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid var(--tg-theme-button-color);
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
  width: 100%;
  font-size: 1em;
  outline: none;
}

.input-placeholder {
  background-color: var(--tg-theme-bg-color);
  bottom: 17px;
  box-sizing: border-box;
  pointer-events: none;
  color: var(--tg-theme-text-color);
  font-size: 0.8em;
  font-weight: 400;
  left: 8px;
  max-width: -moz-calc(100% - (2 * 8px));
  max-width: calc(100% - (2 * 8px));
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  width: auto;
  z-index: 1;
  position: absolute;
}

.input:focus + .input-placeholder,
.input.non-empty + .input-placeholder {
  color: var(--tg-theme-button-color);
  transform: scale(0.85) translateY(-26px);
}
