.account-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: max-content;
  row-gap: 20px;
  width: 100%;
}

.account-button {
    width: 100%;
}