.select-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.change-icon svg:last-child {
  transform: rotateZ(180deg);
}
