.select-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.change-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(90deg);

}

.change-icon svg:last-child {
  transform: rotateZ(180deg);
}
