.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 40px;
}

.account-page-title {
  text-align: center;
  padding-bottom: 10px;
}

.account-page-error {
  font-size: 1em;
  margin-bottom: 40px;
}

.account-page-loading {
  margin-bottom: 40px;
}

.account-info {
  border-radius: 5px;
  padding: 20px;
  border: 1px solid var(--tg-theme-button-color);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.account-info .account-info-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.account-info .account-info-row .equity {
  display: flex;
  align-items: center;
  gap: 5px;
}
